*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(211, 211, 5);
    color: black;
}
h1{
    text-align: center;
    padding: 10px;
}
img{
    width: 60%;
    height: auto;
    text-align: center;
}